/* @import 'https://fonts.googleapis.com/css?family=Raleway';

body {
    background-image: url("background-image.jpg");
    background-size: cover;
} */



body {
    background: url("deneme4.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    position: fixed;
    transition: 1s;
    font-family: 'Caveat', cursive;

}

.navbar-brand {
    margin-top: 8px;
    color: #79155B;
    font-size: 45px;
    font-family: 'Bad Script', cursive;
    cursor: pointer;
    font-weight: bold;
}

.icon-bar {
    background-color: #000;

}

.nav {
    font-family: 'Sansita Swashed', cursive;
    color: #fff;
    padding: 10px 20px;
}

.nav li {
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.nav li:after {
    content: '';
    display: block;
    border-bottom: 2px solid #38fd07;
    transform: scaleX(0);
    transition: .2s ease-in-out;
}

.nav li:hover:after {
    transform: scaleX(1);
}

/* .para {
    min-height: 500px;
} */

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

}

body::-webkit-scrollbar {
    width: 14px;
}

body::-webkit-scrollbar-thumb {

    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
    background: #501e27;
}

@media(max-width: 720px) {
    body {
        background-size: 100% 100%;
    }

    .navbar-collapse {
        background: #501e27;
    }

}

/* .navbar {
    background-color: #15133C;
    display: flex;
    height: 85px;
    align-items: center;
}

.navbar-text {
    font-size: 42px;
    color: #EEEEEE;
    font-family: 'Abel', sans-serif;
    margin-top: 0px;
}

.navbar-text:hover {
    font-size: 42px;
    color: #EEEEEE;
    font-family: 'Abel', sans-serif;
    text-decoration: none;
} */

/* .addCar-link {
    font-size: 22px;
    font-family: 'Abel', sans-serif;
    color: #EEEEEE;
}

.addCar-link:hover {
    border: solid #15133C;
    border-width: 0.5px;
    border-radius: 2.7px;
    font-size: 20px;
    background-color: #F1EEE9;
    color: #15133C;
    font-family: 'Abel', sans-serif;
} */

.table-list {
    margin-top: 50px;
    font-family: 'Saira Condensed', sans-serif;
    text-align: center;
}

.table-items {
    font-family: 'Saira Condensed', sans-serif;
    text-align: center;
    /* background-color: rgba(241, 235, 243, 0.952) ; */
    color: black;
    font-weight: bold;
    background-color: #FFE9D6;
    opacity: 0.93;
}


.table-head {

    text-align: center;
    background-color: #EEEEEE;
    color: #272468;
    font-size: 18px;
    font-family: 'Saira Condensed', sans-serif;
}

.action-button {
    font-weight: bolder;
    background-color: #15133C;
    color: #EEEEEE;
    font-family: 'Saira Condensed', sans-serif;
}

.action-button:hover {
    font-weight: bolder;
    background-color: #F1EEE9;
    color: #15133C;
    border: solid #15133C;
    border-width: 0.5px;
    border-radius: 2.7px;
    font-family: 'Saira Condensed', sans-serif;
}

.search-button {
    font-weight: bolder;
    background-color: #75C2F6;
    color: black;
    font-family: 'Saira Condensed', sans-serif;
}

.search-button:hover {
    font-weight: bolder;
    background-color: rgba(241, 235, 243, 0.952);
    color: #272468;
    font-family: 'Saira Condensed', sans-serif;

}

.view-button {
    color: #75C2F6;
}

.delete-button {
    background-color: #D71313;
}

.delete-button:hover {
    background-color: #F1EEE9;
    color: #D71313;
    border: solid #D71313;
    border-width: 0.5px;
    border-radius: 2.7px;
}

.modal {
    font-family: 'Saira Condensed', sans-serif;
    text-align: center;
}

.modal label {
    font-family: 'Abel', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: #15133C;
}

.modal .form-group {
    font-weight: bold;
    font-size: 16px;
    border-radius: 6px;
    text-align: center;
}


.modal-title {
    color: #D71313;
    font-weight: bolder;
    text-align: center;
    font-size: 27px;
    font-family: 'Abel', sans-serif;
}

.close-button {
    align-items: center;
    background-color: #454545;
    font-weight: bold;
    float: right;
    color: #EEEEEE;
    font-size: 15px;
    height: 35px;
    width: 75px;
}