/* @import 'https://fonts.googleapis.com/css?family=Raleway';

body {
    background-image: url("background-image.jpg");
    background-size: cover;
} */

@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');


body {
    background: url("deneme10.jpg");
    background-size: 140%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: block;

}

.navbar {
    position: fixed;
    transition: 1s;
    font-family: 'Caveat', cursive;
}

.gif {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    width: 10%;
    max-inline-size: 10%;
    block-size: auto;
}

.logo {
    float: right;
    width: 4%;
}

/* .navbar-brand {
    color: #7EFAFF;
    font-size: 40px;
    font-family: 'Macondo', cursive;
    cursor: pointer;
    font-weight: 500;
    padding: 0;
    -webkit-box-reflect: below -5px linear-gradient(transparent,rgba(233, 0, 100,0.2));
    text-shadow: -0.5px -0.5px 0 #13ABC4, 0.5px 0.5px 0 #13ABC4, -0.5px 0.5px 0 #13ABC4, 0.5px 0.5px 0 #13ABC4;
} */
.deneme {
    display: block;
    color: #982176;
    font-size: 50px;
    cursor: pointer;
    font-family: 'Macondo', cursive;
    margin-left: 10px;
    -webkit-box-reflect: below -40px linear-gradient(transparent,rgba(233, 0, 100,0.2));
    
}
.deneme::before {
    content: "Car Factory";
    font-family: 'Macondo', cursive;
    position: absolute;
    color: transparent;
    display: block;
    background-image: repeating-linear-gradient(45deg,
            transparent 0,
            transparent 3.5px,
            white 2px,
            white 4px);
    -webkit-background-clip: text;
    top: 0px;
    left: 0;
    z-index: -1;
    transition: 0.8s;
    margin-left: 10px;
}
.deneme::after {
    content: "Car Factory";
    font-family: 'Macondo', cursive;
    position: absolute;
    display: block;
    color: transparent;
    background-image: repeating-linear-gradient(135deg,
            transparent 0,
            transparent 3.5px,
            white 2px,
            white 4px);
    -webkit-background-clip: text;
    top: 0px;
    left: 0px;
    transition: 0.8s;
    margin-left: 10px;
}

.deneme:hover:before {
    top: 10px;
    left: 10px;
}

.deneme:hover:after {
    top: -10px;
    left: -10px;
}

.icon-bar {
    background-color: #000;

}

.nav {
    font-family: 'Sansita Swashed', cursive;
    color: #fff;
    padding: 10px 20px;
    display: block;
}


.nav li {
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    display: block;
}

.nav li:after {
    content: '';
    display: block;
    border-bottom: 2px solid #38fd07;
    transform: scaleX(0);
    transition: .2s ease-in-out;
}

.nav li:hover:after {
    transform: scaleX(1);
}

/* .para {
    min-height: 500px;
} */

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px black;

}

body::-webkit-scrollbar {
    width: 14px;
}

body::-webkit-scrollbar-thumb {

    -webkit-box-shadow: inset 0 0 6px black;
    background: black;
}

@media(max-width: 720px) {
    body {
        background-size: 100% 100%;
    }

    .navbar-collapse {
        background: black;
    }

}

/* .navbar {
    background-color: #15133C;
    display: flex;
    height: 85px;
    align-items: center;
}

.navbar-text {
    font-size: 42px;
    color: #EEEEEE;
    font-family: 'Abel', sans-serif;
    margin-top: 0px;
}

.navbar-text:hover {
    font-size: 42px;
    color: #EEEEEE;
    font-family: 'Abel', sans-serif;
    text-decoration: none;
} */

/* .addCar-link {
    font-size: 22px;
    font-family: 'Abel', sans-serif;
    color: #EEEEEE;
}

.addCar-link:hover {
    border: solid #15133C;
    border-width: 0.5px;
    border-radius: 2.7px;
    font-size: 20px;
    background-color: #F1EEE9;
    color: #15133C;
    font-family: 'Abel', sans-serif;
} */


.table-list {
    margin-top: 100px;
    font-family: 'Saira Condensed', sans-serif;
    text-align: center;
}

.table-items {
    font-family: 'Saira Condensed', sans-serif;
    text-align: center;
    /* background-color: rgba(241, 235, 243, 0.952) ; */
    color: black;
    font-weight: bold;
    background-color: white;
    opacity: 0.93;
}


.table-head {

    text-align: center;
    background-color: #EEEEEE;
    color: #272468;
    font-size: 18px;
    font-family: 'Saira Condensed', sans-serif;
}

.action-button {
    font-weight: bolder;
    background-color: #15133C;
    color: #EEEEEE;
    font-family: 'Saira Condensed', sans-serif;
}

.action-button:hover {
    font-weight: bolder;
    background-color: #F1EEE9;
    color: #15133C;
    border: solid #15133C;
    border-width: 0.5px;
    border-radius: 2.7px;
    font-family: 'Saira Condensed', sans-serif;
}

.search-button {
    font-weight: bolder;
    background-color: #75C2F6;
    color: black;
    font-family: 'Saira Condensed', sans-serif;
}

.search-button:hover {
    font-weight: bolder;
    background-color: rgba(241, 235, 243, 0.952);
    color: #272468;
    font-family: 'Saira Condensed', sans-serif;

}

.view-button {
    color: #75C2F6;
}

.delete-button {
    background-color: #D71313;
}

.delete-button:hover {
    background-color: #F1EEE9;
    color: #D71313;
    border: solid #D71313;
    border-width: 0.5px;
    border-radius: 2.7px;
}

.modal {
    font-family: 'Saira Condensed', sans-serif;
    text-align: center;
}

.modal label {
    font-family: 'Abel', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: #15133C;
}

.modal .form-group {
    font-weight: bold;
    font-size: 16px;
    border-radius: 6px;
    text-align: center;
}


.modal-title {
    color: #D71313;
    font-weight: bolder;
    text-align: center;
    font-size: 27px;
    font-family: 'Abel', sans-serif;
}

.close-button {
    align-items: center;
    background-color: #454545;
    font-weight: bold;
    float: right;
    color: #EEEEEE;
    font-size: 15px;
    height: 35px;
    width: 75px;
}